@charset "UTF-8";

html {
  font-size: 100%;
}
body {
  color: #24292E;
  font-family: 'Crimson Text', serif;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
ul {
  list-style: none;
}
a {
  color: #2d2d2d;
  text-decoration: none;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 4%;
}

/*-------------------------------------------
SP
-------------------------------------------*/
@media screen and (max-width: 600px) {

}