@charset "UTF-8";

html {
  font-size: 100%;
}
body {
  color: #24292E;
  font-family: 'Crimson Text', serif;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
ul {
  list-style: none;
}
a {
  color: #2d2d2d;
  text-decoration: none;
}
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 9.2%;
}/*-------------------------------------------
header
-------------------------------------------*/
.header {
  display: flex;
  justify-content: space-between;
  padding: 113.1px 0 109px 0;
  margin-right: -108px;
  img {
    vertical-align: top;
  }
  ul {
    display: flex;
    padding-top: 10px;
    li {
      padding-top: 1px;
      font-size: 0.875rem;
      padding-right: 29px;
      .fa-brands {
        font-size: 1.6em;
      }
      }
    }
  }

/*-------------------------------------------
mainvisuar
-------------------------------------------*/
.mainvisuar {
    height: 420px;
    margin-bottom: 87px;
    img {
        height: 100%;
        object-fit: cover;
    }
  }
/*-------------------------------------------
mainvisuar
-------------------------------------------*/
.about {
    h2 {
        margin-bottom: 74px;
        text-align: center;
    }
}
/*-------------------------------------------
SP
-------------------------------------------*/
@media screen and (max-width: 600px) {

}